<div class="ZDAVitrineEventsList" lang="en">

<% if (!ZDAVitrineEventsListData.length) { -%>
	<p class="ZDAVitrineEventsListEmpty"><%= OLSKLocalized('ZDAVitrineEventsListEmptyText') %></p>
<% } -%>

<% ZDAVitrineEventsListData.forEach(function (item) { -%>
	<div class="ZDAVitrineEventsListItem">
		<span class="ZDAVitrineEventsListItemStart"><%= ZDAVitrineEventsListDateFormat(item.ZDAEventStart) %></span>
		<a class="ZDAVitrineEventsListItemLink" href="<%= item.ZDAEventURL %>" target="_blank"><%= item.ZDAEventName %></a>
	</div>
<% }) -%>

</div>
