<div class="ZDAVitrineEventsList" lang="en">

<% if (!ZDAVitrineEventsListData.length) { -%>
	<p class="ZDAVitrineEventsListEmpty"><%= OLSKLocalized('ZDAVitrineEventsListEmptyText') %></p>
<% } -%>

<table>
<% ZDAVitrineEventsListData.forEach(function (item) { -%>
	<tr class="ZDAVitrineEventsListItem">
		<td class="ZDAVitrineEventsListItemStart"><%= ZDAVitrineEventsListDateFormat(item.ZDAEventStart) %></td>
		<td><a class="ZDAVitrineEventsListItemLink" href="<%= item.ZDAEventURL %>" target="_blank"><%= item.ZDAEventName %></a></td>
	</tr>
<% }) -%>
</table>

</div>
