.ZDAGlance {
	font-family: Arial;
	font-size: 9pt;
}

.ZDAGlanceListItem {
	padding: 10px;
}

.ZDAGlanceListItem a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.ZDAGlanceListItemIconImage {
	width: 36px;
	border-radius: 5px;
	overflow: hidden;
}
