:root {
	--ZDAGlanceToolbarHeight: 35px;
	--OLSKStickyHeaderTop: var(--ZDAGlanceToolbarHeight);
}

@media screen and (max-width: 760px) {

	:root {
		--ZDAGlanceToolbarHeight: 45px;
	}

}

.ZDAGlance {
	padding: 0;
	padding-top: calc(var(--ZDAGlanceToolbarHeight) + 1px);

	font-family: Arial;
	font-size: 9pt;
}

.ZDAGlanceHeader {
	display: flex !important;

	background: var(--OLSKCommonBackground);

	align-items: center;
}

.ZDAGlanceRootLinkImage {
	width: 24px;
	padding: 3px;
}

.ZDAGlanceListSort {
	cursor: pointer;
}

.ZDAGlanceListSort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
  position: relative;
}

.ZDAGlanceListSort.asc:after {
  border-bottom: 5px solid #000;
  top: -10px;
  right: -5px;
}

.ZDAGlanceListSort.desc:after {
  border-top: 5px solid #000;
  top: 10px;
  right:-5px;
}

.ZDAGlanceFilterInput {
	padding: 0 5px !important;
	height: var(--ZDAGlanceToolbarHeight);
	border-radius: 0 !important;
	border: none !important;

	flex-grow: 1;
}

.ZDAGlanceProjectsCompilationLink {
	padding: 0 10px;
}

table {
	position: relative;

	margin: 0 !important;
}

.ZDAGlanceListHead {
	background: #efefef;
}

.ZDAGlanceListHeadRemoteStorage, .ZDAGlanceListHeadFission, .ZDAGlanceListHeadSolidProject {
	max-width: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
}

td, th {
	padding: 10px;
}

td {
	border-top: none !important;
	border-bottom: var(--OLSKCommonEdgeBorder);
}

.ZDAGlanceListItemIconImage {
	--OLSKCommonCardImageSize: 36px !important;
	padding: 3px;
	border-radius: 5px;
	overflow: hidden;
}

.ZDAGlanceListItem a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.ZDAGlanceListItemBlurb {
	display: inline-block;
	max-width: 400px;
}

.ZDAGlanceListItemCheckbox {
	text-align: center;
}
