# Rename this file to '.env'

ZDA_VITRINE_FLOWS_TRADITIONAL_URL=https://static.rosano.ca/0data/flowtraditional.svg
ZDA_VITRINE_FLOWS_MODERN_URL=https://static.rosano.ca/0data/flowmodern.svg
ZDA_TASK_BANKS_URLS="https://wiki.remotestorage.io/Apps,https://github.com/0dataapp/unofficial-fission-apps-list,https://github.com/0dataapp/awesome-0data/raw/master/README.md,https://unhosted.org/apps,https://solidproject.org/apps"
ZDA_VITRINE_IDENTITY_URL=https://static.rosano.ca/0data/identity.svg

ROCO_FORUM_TOPIC=11

ROCO_EPHEMERATA_LINK_ICON_URL=https://static.rosano.ca/ephemerata/identity.svg
ROCO_EPHEMERATA_LINK_URL=https://rosano.ca/ephemerata
SWAR_LINK_ICON_URL=https://static.rosano.ca/swar/identity.svg
SWAR_LINK_URL=https://ring.0data.app

OLSK_REPO_URL=https://github.com/0dataapp/0data
