.ZDAVitrinePrinciplesList {
	padding-left: 0 !important;
	text-indent: 0;
	list-style: none;
}

.ZDAVitrinePrinciplesListItem {
	padding: 10px;
	border-radius: 5px;

	margin: 10px 0;

	background: #eee;
}

.ZDAVitrinePrinciplesListItem em {
	font-weight: bold;
	font-style: normal;
}

.ZDAVitrineListItem {
	padding: 10px;

	margin: 10px 0;
}

.ZDAVitrineListItem a {
	text-decoration: none;
	color: black;
}

.ZDAVitrineListItemIconImage {
	border-radius: 5px;
	overflow: hidden;

	flex-shrink: 0;
}

.ZDAVitrineListItemName {
	font-size: 20pt;
}

.ZDAVitrineListItemBlurb {
	font-size: 11pt;
}
