.ZDAVitrineIdentity {
	margin: 2em 0;

	display: flex;
	align-items: center;
}

.ZDAVitrineIdentityLogo {
	width: 70px;

	margin-right: 4px;
}

.ZDAVitrineIdentityName {
	font-size: 24pt;
	font-weight: bold;
	font-family: Helvetica;
}

.ZDAVitrineIdentityBlurb {
	font-style: oblique;
}

h1 {
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}

.ZDAVitrineAspectsList {
	padding-left: 0 !important;
	text-indent: 0;
	list-style: none;
}

.ZDAVitrineAspectsListItem {
	padding: 10px;
	border-radius: 5px;

	margin: 10px 0;

	background: #eee;
}

.ZDAVitrineAspectsListItem em {
	font-weight: bold;
	font-style: normal;
}
